body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #948787;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    height: 60px;
}

.right-buttons button {
    margin-right: 60px;
    padding: 8px 15px;
    border: none;
    background: #c8202d;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.right-buttons button:hover {
    background: #c9302c;
    color: white;
}

.profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 60px;
    margin-top: 8px;
    border-radius: 50%;
    object-fit: cover;
}

.get-items {
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.request-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}

.request-card:hover {
    transform: scale(1.05);
}

.request-card h3 {
    color: #d9534f;
    font-size: 20px;
}

.request-card p {
    font-size: 14px;
    margin: 5px 0;
}
